    <link rel="stylesheet" href="assets/register.css" />

<div class="center-box">
      <form class="form" action="/register" method="POST">
        <p class="title">Register</p>
        <p class="message">Signup now and get full access to our app.</p>

        <label>
          <input name="username" required="false" placeholder="" type="text" class="input"  value="{{username}}"/>
          <span>Email</span>
        </label>

        <label>
          <input name="password"  required="false" placeholder="" type="password" class="input" />
          <span>Password</span>
        </label>
        <label>
          <input name="address"  required="false" placeholder="" type="text" class="input" value="{{address}}"/>
          <span>Address</span>
        </label>
        <label>
          <input name="age"  required="false" placeholder="" type="number" class="input" value="{{age}}" />
          <span>Age</span>
        </label>
        <button class="submit">Submit</button>
        {{#if success}}
          <div class="alert alert-success" role="alert">
            {{success}}
          </div>
        {{/if}}

        {{#if error}}
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
        {{/if}}
        <p class="signin">Already have an acount ? <a href="#">Signin</a></p>
      </form>
    </div>